.intro {
    padding-left: 13rem;
}

.contact {
    padding-left: 13rem;
}

.contact-list {
    font-family: Helvetica, Arial, sans-serif;
}

.projects {
    padding-left: 13rem;
}

.projects-list {
    font-family: Helvetica, Arial, sans-serif;
}