.sidebar {
    padding-top: 300px;
    padding-bottom: 300px;
    float: left;
    vertical-align: middle;
    position: relative;
}

.sidebar_list {
    list-style: none;
    font-size: large;
}

li {
    margin-bottom: 24px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
}
