.sidebar {
    margin-top: 6rem;
    float: left;
    position: relative;
    font-family: Quicksand Light, Helvetica, Arial, sans-serif;
}

.sidebar a {
    text-decoration: none;
    color: #242426
}

.sidebar a:active {
    color: #5d5d5d
}

.sidebar a:hover {
    text-decoration: underline;
    text-decoration-color: #24242665;
}

.sidebar_list {
    list-style: none;
    font-size: large;
    line-height: 2;
    font-size: 1.8rem;
    text-decoration: none;
}
