.sidebar {
    margin-top: 8em;
    float: left;
    position: relative;
    font-family: Palatino, Helvetica, Arial, sans-serif;
}

.sidebar a {
    text-decoration: none;
    color: #707070
}

.sidebar a:active {
    color: #575757
}

.sidebar_list {
    list-style: none;
    font-size: large;
    line-height: 2;
    font-size: 2.2rem;
    text-decoration: none;
}
