@font-face {
    font-family: "Quicksand";
    src: 
      local("Quicksand Light"),
      local("Quicksand Regular"),
      local("Quicksand SemiBold"),
      url("/src/asset/Quicksand/static/Quicksand-Light.ttf")
      url("/src/asset/Quicksand/static/Quicksand-Regular.ttf")
      url("/src/asset/Quicksand/static/Quicksand-SemiBold.ttf")

}

@font-face {
    font-family: "Merriweather";
    src:
      local("Meriweather Black")
      local("Meriweather BlackItalic")
      local("Meriweather Bold")
      local("Meriweather BoldItalic")
      local("Meriweather Italic")
      local("Meriweather Light")
      local("Meriweather LightItalic")
      local("Meriweather Regular")
      url("/src/asset/Merriweather/Merriweather-Black.ttf")
      url("/src/asset/Merriweather/Merriweather-BlackItalic.ttf")
      url("/src/asset/Merriweather/Merriweather-Bold.ttf")
      url("/src/asset/Merriweather/Merriweather-BoldItalic.ttf")
      url("/src/asset/Merriweather/Merriweather-Light.ttf")
      url("/src/asset/Merriweather/Merriweather-LightItalic.ttf")
      url("/src/asset/Merriweather/Merriweather-Regular.ttf")
}

body {
    background-color: #d5dceb;
    font-family: Merriweather, Helvetica, Arial, sans-serif;;
}