@font-face {
    font-family: "Quicksand";
    src: 
      local("Quicksand-Light.ttf"),
      local("Quicksand-Regular.ttf"),
      local("Quicksand-SemiBold.ttf"),
}

body {
    background-color: #d5dceb;
}
